In [2]:
import warnings

warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from matplotlib.ticker import PercentFormatter
plt.rcParams.update({ "figure.figsize" : (8, 5),"axes.facecolor" : "white", "axes.edgecolor":  "black"})
plt.rcParams["figure.facecolor"]= "w"
pd.plotting.register_matplotlib_converters()
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import operator
# import to divide our data into train and test data
from sklearn.model_selection import train_test_split
# import to create polynomial features
from sklearn.preprocessing import PolynomialFeatures
# import of the linear regression model
from sklearn.linear_model import LinearRegression
# import of our evaluation metrics
from sklearn.metrics import mean_squared_error, r2_score

RSEED = 12

In [4]:
data_model=pd.read_csv('data/model_data.csv')
data_model.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,lat,long,sqft_living15,sqft_lot15,sold_year,sold_month,sold_day,new_renovate,Age_house,new_id
0,0,7129300520,2014-10-13,221900.000,3,1.000,1180,5650,1.000,NaN,...,47.511,-122.257,1340,5650,2014,10,0,0,61,1
1,1,6414100192,2014-12-09,538000.000,3,2.250,2570,7242,2.000,0.000,...,47.721,-122.319,1690,7639,2014,12,1,1,65,1
2,2,5631500400,2015-02-25,180000.000,2,1.000,770,10000,1.000,0.000,...,47.738,-122.233,2720,8062,2015,2,2,2,83,1
3,3,2487200875,2014-12-09,604000.000,4,3.000,1960,5000,1.000,0.000,...,47.521,-122.393,1360,5000,2014,12,1,0,51,1
4,4,1954400510,2015-02-18,510000.000,3,2.000,1680,8080,1.000,0.000,...,47.617,-122.045,1800,7503,2015,2,2,0,29,1

## Split Data Training and Test

In [5]:
# Split data into train and test set
import sklearn.model_selection
X =data_model[['sqft_living','bedrooms']] ## as we have good correlation between price and sqft_living and price and bedrooms
y=data_model['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=RSEED)

## Scale and normalization

In [6]:
# Scaling with standard scaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [7]:
# Instantiate our model 

lin_reg = LinearRegression()
# Fit the model using our train data 
lin_reg.fit(X_train, y_train)

# Make predictions on the test data and save those in "y_pred"

y_pred_test = lin_reg.predict(X_test_scaled)
y_pred_train = lin_reg.predict(X_train_scaled)

In [8]:
from function import calculate_metrics
print("results of scale standarization for train data and test data ")
print("---"*10)
calculate_metrics(y_train,y_pred_train, y_test, y_pred_test)

results of scale standarization for train data and test data
------------------------------
Metrics on training data
RMSE: 601768.107
R2: -1.663
------------------------------
Metrics on test data
RMSE: 598033.631
R2: -1.711
------------------------------

In [9]:
# Scaling with normaliz scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled_2 = scaler.fit_transform(X_train)
X_test_scaled_2 = scaler.transform(X_test)

In [10]:
# Instantiate our model 

lin_reg = LinearRegression()
# Fit the model using our train data 
lin_reg.fit(X_train, y_train)

# Make predictions on the test data and save those in "y_pred"

y_pred_test = lin_reg.predict(X_test_scaled_2)
y_pred_train = lin_reg.predict(X_train_scaled_2)

In [11]:
from function import calculate_metrics
print("results of scale standarization for train data and test data ")
print("---"*10)
calculate_metrics(y_train,y_pred_train, y_test, y_pred_test)

results of scale standarization for train data and test data
------------------------------
Metrics on training data
RMSE: 592005.957
R2: -1.578
------------------------------
Metrics on test data
RMSE: 589843.831
R2: -1.637
------------------------------